.best{
    
    text-align: center;
    padding-top: 3%;
    color: rgb(19, 109, 112); 
}
.image{
    padding-left: 10%;
    
}
.text{
    padding-left: 2%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.shumi{
    text-align: center;
    color: rgb(19, 109, 112); 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.img{
    padding-left: 30%; 
  }
     
  .heading{
     text-align: center;
     background-color: rgb(19, 109, 112);
     color: white;
     font-size: 40px;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  
  }
  .head{
     text-align: center;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
  }
 .hi{
     color: rgb(97, 90, 90);
     
 }

  .help{
     font-size: 26px;
     color: rgb(19, 109, 112);
     text-align: center;
     padding-top: 5%;
  }
  
  body {
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   }
   .section{
       text-align: center;
       color: rgb(19, 109, 112);
       font-size: 40px;
       padding-top: 3%;
       font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   }
   
   .sidenav {
     height: 100%;
     width: 150px;
     position: fixed;
     z-index: 1;
     top: 0;
     left: 0;
     background-color: rgb(4, 51, 53);
     overflow-x: hidden;
     padding-top: 20px;
   }
   
   .sidenav a {
     padding: 6px 8px 6px 16px;
     text-decoration: none;
     font-size: 25px;
     color: #818181;
     display: block;
   }
   
   .sidenav a:hover {
     color: #f1f1f1;
   }
   
   
   @media screen and (max-height: 450px) {
     .sidenav {padding-top: 15px;}
     .sidenav a {font-size: 18px;}
   }
   .input{
     border: none;
     background: none;
     display: block;
     border: 2px solid #0d1b3a;
     width: 400px;
     height: 30px;
     outline: none;
     color: beige;
    border-radius: 10px;
   }
   .label{
      font-size: 18px;
      font-family: Georgia, 'Times New Roman', Times, serif;
      color: rgb(7, 66, 68);
   }
   .button{
     border: none;
     background: none;
     display: block;
     border: 2px solid #0d1b3a;
     width: 100px;
     height: 30px;
     outline: none;
     color:rgba(24, 31, 129, 0.333);
    border-radius: 10px;
   }
   .footer{
      background-color: rgb(7, 66, 68);
      max-width: 3000px;
     
   }
   .footer-col ul li a{
      font-size: 16px;
      text-transform: capitalize;
      color: #f1f1f1;
      text-decoration: none;
      font-weight: 300;
      color: #f1f1f1;
      display: block;
  
  
   }
  .box{
     padding-left:0px;
     padding-top: 60px;   
  }
   .row{
      display: flex;
      flex-wrap: wrap;
   }
   ul{
      list-style: none;
   }
   .footer-col{
      width: 25%;
      padding: 0 15px;
   }
   .footer-col h4{
    font-size: 18px;
    color: rgb(184, 243, 243);
    text-transform: capitalize;
    margin-bottom: 30px;
    position: relative;
    padding-left: 30px;
  }
  .footer-col ul li:not(:last-child){
     margin-bottom: 10px;
  
  }
  .footer-col h4 ::before{
     content: ' ';
     position: absolute;
     left: 0;
     bottom: -10px;
     background-color: white;
     height: 2px;
     box-sizing: border-box;
     width: 50px;
  }